@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  width: 25%;
  padding: 0 10px;
}

.col-4 {
  width: 33.33%;
  padding: 0 10px;
}

.col-6 {
  width: 50%;
  padding: 0 10px;
}

.col-8 {
  width: 66.66%;
  padding: 0 10px;
}

.col-12 {
  width: 100%;
  padding: 0 10px;
}

.dashboardCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #262626;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
